table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table tr th {
    padding: 0;
    position: relative;
    text-align: center;
    height: 10vh;
  }
  
  table tr th button {
    padding: 0;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }