:host button {
    margin: 0px auto;
}

.dummyDiv {
    display:inline-block;
    width:50%;
    height:calc((100% - 21px)/2);
    color: black;
    font-size: larger;
    font-weight: 400;
    text-align: center;
}


.banner {
    height: auto;
    width: auto;
    min-width: 100px;
    min-height: 100px;
    background-color: green;
    opacity: 1;
}

.banner-highlight {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}